:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("/Background.jpg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  background-attachment: fixed;
  }





